@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ta Polityka Prywatności opisuje, w jaki sposób zbieramy, wykorzystujemy i chronimy Twoje dane osobowe, gdy odwiedzasz naszą stronę internetową.</p>

<h2>Informacje, które zbieramy</h2>
<p>Możemy zbierać następujące rodzaje informacji:</p>
<ul>
    <li>Dane identyfikacyjne (Imię, adres e-mail, numer telefonu, itp.)</li>
    <li>Dane logowania (Adres IP, typ przeglądarki, odwiedzane strony i inne dane dotyczące użytkowania)</li>
    <li>Pliki cookie i technologie śledzące</li>
</ul>

<h2>Jak wykorzystujemy Twoje informacje</h2>
<p>Wykorzystujemy zebrane informacje w różnych celach, w tym:</p>
<ul>
    <li>Świadczenie, obsługa i utrzymanie naszej strony internetowej</li>
    <li>Ulepszanie, personalizowanie i rozszerzanie naszej strony internetowej</li>
    <li>Zrozumienie i analiza, w jaki sposób korzystasz z naszej strony</li>
    <li>Tworzenie nowych produktów, usług, funkcji i funkcjonalności</li>
    <li>Komunikacja z Tobą, bezpośrednio lub za pośrednictwem naszych partnerów, w celu obsługi klienta, dostarczania aktualizacji i innych informacji</li>
    <li>Wysyłanie wiadomości e-mail</li>
    <li>Zapobieganie oszustwom</li>
</ul>

<h2>Jak chronimy Twoje dane</h2>
<p>Bezpieczeństwo Twoich danych osobowych jest dla nas ważne. Stosujemy odpowiednie środki techniczne i organizacyjne, aby chronić Twoje dane przed nieautoryzowanym dostępem, użyciem lub ujawnieniem.</p>

<h2>Twoje prawa dotyczące ochrony danych</h2>
<p>Masz prawo dostępu do swoich danych osobowych, ich poprawiania, usuwania oraz ograniczenia przetwarzania. Możesz również wycofać swoją zgodę na przetwarzanie danych w dowolnym momencie.</p>

<h2>Zmiany w Polityce Prywatności</h2>
<p>Zastrzegamy sobie prawo do aktualizacji tej Polityki Prywatności w dowolnym czasie. Wszelkie zmiany będą publikowane na tej stronie.</p>

<p>Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami.</p>